/*.tap-lisa{
    padding: 10px 16px;
    cursor: pointer;
    font-family: sans-serif;
    background-color: #Dda0dd;
    position: absolute;
    top:0;
    left:5%;
}
.tap-lisa.active{
    color: white;
    font-weight: 500;
    border-bottom: 2px solid white;
    font-family: sans-serif;
    background-color:#Dda0dd;
    position: absolute;
    left: 10%;
}*/
.tap-lisa{
    padding: 12px 16px;
    cursor: pointer;
    font-family: sans-serif;
    color: #D8BFD8;
    margin-top: -800px;
}
.tap-lisa.active{
    color: #Dda0dd;
    font-weight: 500;
    border-bottom: 2px solid  #Dda0dd;
    font-family: sans-serif;
}