:host {
  display: block;
}

div {
  z-index:3344330000;
	width: 415px;
	height: auto;
  margin-left: 35%;
	background-color: white;
	box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.75);
  border-radius: 5px;
  position: fixed;
	padding: 1%;
	text-align: center;
}


button{
  float: right;
}

input{
  margin-top: 40px;
  height: 20px;
  width: 70%;
}

.invisible {
  visibility: hidden;
}

.button-registieren {
  float: none;
  margin: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 40%;
  text-align: center;
}

