:host {
  display: block;
}

div {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:	rgb(136,136,136);
  z-index:100;
	width: 415px;
	height: auto;
  margin-left: 35%;
	background-color: white;
	box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.75);
  border-radius: 5px;
  position: fixed;
	padding: 1%;
	text-align: center;
}


.buttonx{
  z-index:110;
  float: right;
  font-size: 50px;
  color: rgb(255, 248, 248);
  position: absolute;
  margin-top: -10px;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  right: 20px;
}

span{
  padding-right: 40px;
}

h1{
  font-weight: lighter;
}
input{
  color:	rgb(136,136,136);
  margin-top: 40px;
  height: 20px;
  width: 70%;
  font-size: 12px;
}

.invisible {
  visibility: hidden;
}

.button-registieren {
  float: none;
  margin: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 40%;
  text-align: center;
  color: rgb(127, 200, 196);
  font-size: 20px;
  border: none;
  background-color: rgb(240, 240, 240);
  font-weight: bold;
}

img{
  z-index: 101;
  width: 415px;
  position: relative;
}