
  form {
    width: 300px;
  }

label {
    position:absolute;
    transform:translateY(6px);
    left:13px;

    transition:all 0.25s ease;
    pointer-events: none;
    font-size:22px;
}

  
    .req {
      opacity:0;
    }
  

  label.highlight {
    color: #ffffff;
  }

  input {
    display:block;
    border: 1px solid lightgray;
    border-radius:0;
    margin:0;
    padding:0;
  }
    :focus {
      outline:0;
      border-color: rgb(27, 100, 9);
    }

  .field-wrap {
    position:relative;
     }

  button {
    border-radius: 5px;
    text-transform: uppercase;
    background: #94d392;
    color: #fcfcfc;
    transition: all .5s ease;
    width: 70px;
    height:30px;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10px;
    margin-left: 31px;
  }
    
  
  .login-password {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8em;
  }

  .login-username {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8em;
  }

  .password {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8em;
    padding-top: 20px;
  }

  .username {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8em;
    padding-top: 20px;
  }

  input.username {
    margin: 0px 15px 0px 0px;
    padding: 20px 15px 0px;
  }

  input.password {
    margin: 0px 15px 0px 0px;
    padding: 20px 15px 0px;
  }

.login-form {
  margin-left: 90%;
}