
  /* .login-form {
    width: 300px;
    margin-left: 90%;
  } */

  .login-container {
    width: 300px;
    margin-left: 90%;
  }

  .login-label {
    position:absolute;
    transform:translateY(6px);
    margin-left:5%;
    transition:all 0.25s ease;
    pointer-events: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8em;
  }

    .req {
      opacity:0;
    }
  

  label.highlight {
    color: #ffffff;
  }


    :focus {
      outline:0;
      border-color: rgb(27, 100, 9);
    }

  .login-feld {
    position:relative;
     }

  .login-button {
    border-radius: 5px;
    text-transform: uppercase;
    background: #94d392;
    color: #fcfcfc;
    transition: all .5s ease;
    width: 70px;
    height:30px;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10px;
    margin-left: 13.5%;
  }
    
  .login-input {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8em;
    padding-top: 20px;
  }

  input.login-input {
    margin: 0px 15px 0px 0px;
    padding: 20px 15px 0px;
  }

  @media only screen and (max-width: 1200px) {
    .login-container {
        margin-left: 78%;
    }
  }

  @media only screen and (max-width: 573px) {
    .login-container {
        margin-left: 76%;
    }
  }

  

